# Xcode
#
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace/xcuserdata/
xcuserdata/
*.xcuserstate
*.xcodeproj/project.xcworkspace/xcuserdata

# SwiftPM
.build/
.swiftpm/xcode/package.xcworkspace/xcuserdata

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Swift
.swift-version

# Simulator logs
*.log

# Archive files
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Xcode Previews
*.preview-thumbnails
*.icloud

# User-specific files
*.swp
*~
*.orig

# IDE config (AppCode, JetBrains)
.idea/
*.iml

# SPM cache
SourcePackages/
